body {
	max-width: 800px;
	margin: 0px auto;
}
header {
	font-size: 30px;
	text-decoration: underline;
	font-family: sans-serif;
	text-align: center;
}
.title {
	font-size: large;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}
.content {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;

    margin: 10px;
    padding: 10px;
}

.subcontent {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;

    width: 700px;
    margin: 0px auto;
}